#### Map and Reduce

- - -

### Feature Reduction

In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns 
import sklearn
import warnings
warnings.filterwarnings("ignore")

In [11]:
from sklearn.datasets import load_iris

In [13]:
data=load_iris()

In [7]:
print(data.DESCR)

.. _iris_dataset:

Iris plants dataset
--------------------

**Data Set Characteristics:**

    :Number of Instances: 150 (50 in each of three classes)
    :Number of Attributes: 4 numeric, predictive attributes and the class
    :Attribute Information:
        - sepal length in cm
        - sepal width in cm
        - petal length in cm
        - petal width in cm
        - class:
                - Iris-Setosa
                - Iris-Versicolour
                - Iris-Virginica

    :Summary Statistics:

    ============== ==== ==== ======= ===== ====================
                    Min  Max   Mean    SD   Class Correlation
    ============== ==== ==== ======= ===== ====================
    sepal length:   4.3  7.9   5.84   0.83    0.7826
    sepal width:    2.0  4.4   3.05   0.43   -0.4194
    petal length:   1.0  6.9   3.76   1.76    0.9490  (high!)
    petal width:    0.1  2.5   1.20   0.76    0.9565  (high!)
    ============== ==== ==== ======= ===== ====================

    :Missing Attribute Values: None
    :Class Distribution: 33.3% for each of 3 classes.
    :Creator: R.A. Fisher
    :Donor: Michael Marshall (MARSHALL%PLU@io.arc.nasa.gov)
    :Date: July, 1988

The famous Iris database, first used by Sir R.A. Fisher. The dataset is taken
from Fisher's paper. Note that it's the same as in R, but not as in the UCI
Machine Learning Repository, which has two wrong data points.

This is perhaps the best known database to be found in the
pattern recognition literature.  Fisher's paper is a classic in the field and
is referenced frequently to this day.  (See Duda & Hart, for example.)  The
data set contains 3 classes of 50 instances each, where each class refers to a
type of iris plant.  One class is linearly separable from the other 2; the
latter are NOT linearly separable from each other.

.. topic:: References

   - Fisher, R.A. "The use of multiple measurements in taxonomic problems"
     Annual Eugenics, 7, Part II, 179-188 (1936); also in "Contributions to
     Mathematical Statistics" (John Wiley, NY, 1950).
   - Duda, R.O., & Hart, P.E. (1973) Pattern Classification and Scene Analysis.
     (Q327.D83) John Wiley & Sons.  ISBN 0-471-22361-1.  See page 218.
   - Dasarathy, B.V. (1980) "Nosing Around the Neighborhood: A New System
     Structure and Classification Rule for Recognition in Partially Exposed
     Environments".  IEEE Transactions on Pattern Analysis and Machine
     Intelligence, Vol. PAMI-2, No. 1, 67-71.
   - Gates, G.W. (1972) "The Reduced Nearest Neighbor Rule".  IEEE Transactions
     on Information Theory, May 1972, 431-433.
   - See also: 1988 MLC Proceedings, 54-64.  Cheeseman et al"s AUTOCLASS II
     conceptual clustering system finds 3 classes in the data.
   - Many, many more ...

In [8]:
x=data.data
y=data.target

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

In [16]:
x_train.shape,x_test.shape,y_train.shape,y_test.shape

((120, 4), (30, 4), (120,), (30,))

In [17]:
from sklearn.linear_model import LogisticRegression
logReg=LogisticRegression()

In [18]:
logReg.fit(x_train,y_train)

LogisticRegression()

In [21]:
y_pred=logReg.predict(x_test)

In [22]:
print('Actual    : ',y_test)
print('Predicted : ',y_pred)

Actual    :  [0 1 1 0 2 1 2 0 0 2 1 0 2 1 1 0 1 1 0 0 1 1 1 0 2 1 0 0 1 2]
Predicted :  [0 1 1 0 2 1 2 0 0 2 1 0 2 1 1 0 1 1 0 0 1 1 2 0 2 1 0 0 1 2]

In [23]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_pred,y_test)

In [24]:
print('Accuracy :',accuracy)

Accuracy : 0.9666666666666667

In [25]:
from sklearn.decomposition import PCA
pca=PCA(n_components=0.95)

In [29]:
pca.fit(x_train)

PCA(n_components=0.95)

In [30]:
x_train_transformed=pca.transform(x_train)

In [31]:
print(x_train_transformed.shape)

(120, 2)

In [32]:
print(x_test.shape)

(30, 4)

In [34]:
x_test_transformed=pca.transform(x_test)
print(x_test_transformed.shape)

(30, 2)

In [37]:
logReg=LogisticRegression(penalty='l2')

In [38]:
logReg.fit(x_train_transformed,y_train)

LogisticRegression()

In [39]:
y_pred=logReg.predict(x_test_transformed)

In [40]:
accuracy=accuracy_score(y_pred,y_test)
print(accuracy)

0.9666666666666667

### XG boost

In [51]:
import pandas as pd
from sklearn import model_selection
from sklearn.ensemble import AdaBoostClassifier

In [48]:
df=pd.read_csv('pima-indians-diabetes.data',sep=',',header=None,names=['pregnant','glucose','bp','skin','insulin','mass','pedigree','age','label'])
df

     pregnant  glucose  bp  skin  insulin  mass  pedigree  age  label
0           6      148  72    35        0  33.6     0.627   50      1
1           1       85  66    29        0  26.6     0.351   31      0
2           8      183  64     0        0  23.3     0.672   32      1
3           1       89  66    23       94  28.1     0.167   21      0
4           0      137  40    35      168  43.1     2.288   33      1
..        ...      ...  ..   ...      ...   ...       ...  ...    ...
763        10      101  76    48      180  32.9     0.171   63      0
764         2      122  70    27        0  36.8     0.340   27      0
765         5      121  72    23      112  26.2     0.245   30      0
766         1      126  60     0        0  30.1     0.349   47      1
767         1       93  70    31        0  30.4     0.315   23      0

[768 rows x 9 columns]

In [49]:
x=df.drop('label',axis=1)
x

     pregnant  glucose  bp  skin  insulin  mass  pedigree  age
0           6      148  72    35        0  33.6     0.627   50
1           1       85  66    29        0  26.6     0.351   31
2           8      183  64     0        0  23.3     0.672   32
3           1       89  66    23       94  28.1     0.167   21
4           0      137  40    35      168  43.1     2.288   33
..        ...      ...  ..   ...      ...   ...       ...  ...
763        10      101  76    48      180  32.9     0.171   63
764         2      122  70    27        0  36.8     0.340   27
765         5      121  72    23      112  26.2     0.245   30
766         1      126  60     0        0  30.1     0.349   47
767         1       93  70    31        0  30.4     0.315   23

[768 rows x 8 columns]

In [50]:
y=df['label']
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: label, Length: 768, dtype: int64

###### Adaboost

In [54]:
kfold=model_selection.KFold(n_splits=10,random_state=7,shuffle=True)
model=AdaBoostClassifier(n_estimators=30,random_state=7)
results=model_selection.cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.7552802460697198

In [55]:
from sklearn import svm
from xgboost import XGBClassifier
clf=XGBClassifier()

kfold=model_selection.KFold(n_splits=10,random_state=7,shuffle=True)
model=XGBClassifier(n_estimators=30,random_state=7)
results=model_selection.cross_val_score(model,x,y,cv=kfold)
print(results.mean())

0.7382433356117566